.App {
  text-align: center;
  flex-wrap: wrap;
  width: 250px;
  height: 250px;
}
.symbols{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}
.numbers{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}
.btn{
  padding: 2%;
}
.result-pane{
  background: black;
  color: white;
  width: 200px;
  height: 30px;
  text-align: center;
  border: 1px solid darkblue;
}
.enter{
  padding: 0 15px 0 0;
}
